df.swaplevel(i=-2, j=-1, axis=0) - zamienia kolumny/indexy niewywoływalne (np. pod indeksem) (i, j - elementy do podmiany)

Nie ma inplacea

W funkcji loc trzeba pamietac o kolejnosci podawania indexu w multiindex - polecenia po swaplevel nie zadziałają

*PerformanceWarning: indexing past lexsort depth may impact performance.* - nieposortowany index mocno wpływa na wydajność działania programu

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [11]:
fuel = pd.read_csv(r"..\course-files\fuel.csv",
                  usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'],
                  index_col=['Year','Make','Model']).sort_index()
fuel.head()

                                   Range (FT1)  City Range (FT1)
Year Make       Model
1984 AM General DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
     Alfa Romeo GT V6 2.5                  0.0               0.0

In [12]:
fuel.loc[1984,'Alfa Romeo', 'Spider Veloce 2000']

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [13]:
fuel = fuel.swaplevel(0, 1).sort_index()

In [14]:
fuel.loc[('Alfa Romeo', 1984, 'Spider Veloce 2000')]

                                    Range (FT1)  City Range (FT1)
Make       Year Model
Alfa Romeo 1984 Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [15]:
fuel = fuel.swaplevel(1, 2).sort_index()

In [17]:
fuel.loc[('Alfa Romeo', 'Spider Veloce 2000', 1984)]

                                    Range (FT1)  City Range (FT1)
Make       Model              Year
Alfa Romeo Spider Veloce 2000 1984          0.0               0.0
                              1984          0.0               0.0