In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import csv

%matplotlib inline

In [3]:
mcdonalds = pd.read_csv(r'../course-files/mcdonalds.csv',
                       usecols=['Category', 'Item', 'Calories', 'TotalFat'])
mcdonalds.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [4]:
mcdonalds.to_csv(r'../exported/mc-1.csv', index=False)

In [13]:
mcdonalds.to_csv(r'../exported/mc-2.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)

In [14]:
mcdonalds.to_csv(r'../exported/mc-3.csv', index=False, quoting=csv.QUOTE_NONNUMERIC, decimal=',')

In [15]:
mcdonalds.to_csv(r'../exported/mc-4.csv', index=False, quoting=csv.QUOTE_NONNUMERIC, decimal=',', sep=';')

In [16]:
mcdonalds.to_csv(r'../exported/mc-5.csv', index=False, quoting=csv.QUOTE_NONNUMERIC, decimal=',', sep=';',
                 columns=['Item', 'TotalFat'])

In [17]:
mcdonalds.to_json(r'../exported/mc-6.json')

In [18]:
html = mcdonalds.to_html()

In [22]:
with open(r'../exported/mc-7.html', 'w', encoding='utf-8') as f:
    f.write(html)