In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [2]:
mcdonalds = pd.read_csv(r'../course-files/mcdonalds.csv',
                        usecols=['Category', 'Item', 'Calories', 'TotalFat'])

In [3]:
excelWriter = pd.ExcelWriter(r'../exported/plik_excela.xlsx')

In [4]:
mcdonalds.to_excel(excelWriter, index=False, sheet_name='Menu')

In [5]:
excelWriter.close()

In [6]:
imported1 = pd.read_excel(r'../exported/plik_excela.xlsx', sheet_name=0)

In [7]:
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [8]:
excelWriter2 = pd.ExcelWriter(r'../exported/plik_excela.xlsx', mode='a')

In [9]:
imported1.Calories = imported1.Calories.apply(lambda x: x / 2)
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [10]:
imported1.to_excel(excelWriter2, index=False, sheet_name='Menu light')

In [11]:
imported1.Calories = imported1.Calories.apply(lambda x: x / 2)
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin      75.0      13.0
1  Breakfast                 Egg White Delight      62.5       8.0
2  Breakfast                  Sausage McMuffin      92.5      23.0
3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0

In [12]:
imported1.to_excel(excelWriter2, index=False, sheet_name='Menu extra light')

In [13]:
excelWriter2.close()

In [14]:
final = pd.read_excel(r'../exported/plik_excela.xlsx', sheet_name=[0, 1, 2])

In [15]:
type(final)

dict

In [16]:
final[0].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [17]:
final[1].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin     150.0      13.0
1  Breakfast                 Egg White Delight     125.0       8.0
2  Breakfast                  Sausage McMuffin     185.0      23.0
3  Breakfast         Sausage McMuffin with Egg     225.0      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     200.0      23.0

In [18]:
final[2].head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin      75.0      13.0
1  Breakfast                 Egg White Delight      62.5       8.0
2  Breakfast                  Sausage McMuffin      92.5      23.0
3  Breakfast         Sausage McMuffin with Egg     112.5      28.0
4  Breakfast  Sausage McMuffin with Egg Whites     100.0      23.0