df.info() - informację ogólne

df.describe() - dane numeryczne - prosta analiza

ds.value_counts() - analiza ilościowa wartości w kolumnie

ds.nunique() - ilość wartości unikalnych

tabela hashowana - słownik

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [2]:
from datetime import datetime
from datetime import timedelta
import time

In [5]:
df = pd.read_csv('../course-files/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26602 entries, 5 to 30690
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           26602 non-null  int64
 1   M/F           26602 non-null  object
 2   City          26601 non-null  object
 3   State         23761 non-null  object
 4   Country       26602 non-null  object
 5   Half          26602 non-null  timedelta64[ns]
 6   40K           26602 non-null  timedelta64[ns]
 7   Pace          26602 non-null  object
 8   TotalSeconds  26602 non-null  float64
 9   HalfSeconds   26602 non-null  float64
dtypes: float64(2), int64(1), object(5), timedelta64[ns](2)
memory usage: 2.2+ MB

In [7]:
df.describe()

,Age,Half,40K,TotalSeconds,HalfSeconds
count,26602.000000,26602,26602,26602.000000,26602.000000
mean,42.509548,0 days 01:49:29.066987444,0 days 03:41:56.812570483,13316.812570,6569.066987
std,11.346732,0 days 00:17:51.805993318,0 days 00:38:54.211165039,2334.211165,1071.805993
min,18.000000,0 days 01:06:44,0 days 02:05:59,7559.000000,4004.000000
25%,34.000000,0 days 01:36:52,0 days 03:14:53.250000,11693.250000,5812.000000
50%,43.000000,0 days 01:47:00,0 days 03:35:15,12915.000000,6420.000000
75%,51.000000,0 days 01:58:33,0 days 04:02:20.750000,14540.750000,7113.000000
max,83.000000,0 days 03:40:17,0 days 07:59:12,28752.000000,13217.000000

In [11]:
df.Country.value_counts()

Country
USA    21632
CAN     2129
GBR      365
MEX      252
JPN      185
       ...
ROU        1
AND        1
JAM        1
FLK        1
PAK        1
Name: count, Length: 79, dtype: int64

In [10]:
df.Country.unique()

array(['ETH', 'KEN', 'NED', 'USA', 'ZIM', 'UGA', 'BRA', 'JPN', 'ITA',
       'ESP', 'LAT', 'CAN', 'NZL', 'AUS', 'SVK', 'MEX', 'FIN', 'GBR',
       'FRA', 'CHN', 'CHI', 'PHI', 'GUA', 'COL', 'BEL', 'DEN', 'POL',
       'NOR', 'CRC', 'HKG', 'LTU', 'PER', 'CZE', 'RUS', 'TWN', 'URU',
       'GER', 'IRL', 'SWE', 'KOR', 'PAN', 'CRO', 'BER', 'RSA', 'HON',
       'ARG', 'SIN', 'EST', 'SUI', 'DOM', 'POR', 'AUT', 'ECU', 'ESA',
       'ISL', 'SLO', 'ISR', 'UKR', 'FLK', 'VEN', 'HUN', 'IND', 'UAE',
       'JAM', 'AND', 'ROU', 'LUX', 'VGB', 'INA', 'GRE', 'JOR', 'ALB',
       'TRI', 'VIE', 'SRB', 'CAY', 'MAR', 'MAS', 'PAK'], dtype=object)

In [12]:
df.Country.nunique()

79

In [13]:
cities = df.City.unique()

In [14]:
groups = {}

In [18]:
for i in cities:
    temp = df[df.City == i]
    groups[i] = temp

In [19]:
groups["San Francisco"].describe()

,Age,Half,40K,TotalSeconds,HalfSeconds
count,197.000000,197,197,197.000000,197.000000
mean,36.309645,0 days 01:42:24.390862944,0 days 03:25:35.335025380,12335.335025,6144.390863
std,10.600373,0 days 00:15:31.836366973,0 days 00:34:13.037100532,2053.037101,931.836367
min,22.000000,0 days 01:14:21,0 days 02:29:21,8961.000000,4461.000000
25%,28.000000,0 days 01:30:11,0 days 03:02:06,10926.000000,5411.000000
50%,34.000000,0 days 01:41:50,0 days 03:21:13,12073.000000,6110.000000
75%,42.000000,0 days 01:48:48,0 days 03:39:35,13175.000000,6528.000000
max,80.000000,0 days 02:45:21,0 days 05:39:13,20353.000000,9921.000000

In [20]:
groups["Addis Ababa"].describe()

,Age,Half,40K,TotalSeconds,HalfSeconds
count,5.00000,5,5,5.000000,5.000000
mean,25.00000,0 days 01:08:30.200000,0 days 02:13:47.600000,8027.600000,4110.200000
std,4.84768,0 days 00:03:55.793765820,0 days 00:10:07.503744844,607.503745,235.793766
min,20.00000,0 days 01:06:44,0 days 02:05:59,7559.000000,4004.000000
25%,21.00000,0 days 01:06:45,0 days 02:06:47,7607.000000,4005.000000
50%,24.00000,0 days 01:06:45,0 days 02:10:57,7857.000000,4005.000000
75%,29.00000,0 days 01:06:45,0 days 02:14:23,8063.000000,4005.000000
max,31.00000,0 days 01:15:32,0 days 02:30:52,9052.000000,4532.000000