read_clipboard - konieczne określenie sep="," jeżeli chcemy csv

head(), tail(ilość rekordów)

squeeze() - zamienia jedną kolumne (usecols=[kolumny]) w series

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [4]:
education = pd.read_csv("..\course-files\StackOverflowDeveloperSurvey.csv", usecols=["FormalEducation"])

In [5]:
type(education)

pandas.core.frame.DataFrame

In [6]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [7]:
education = pd.read_csv("..\course-files\StackOverflowDeveloperSurvey.csv", usecols=["FormalEducation"]).squeeze()

In [8]:
type(education)

pandas.core.series.Series

In [9]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [10]:
allinfo = pd.read_csv("..\course-files\StackOverflowDeveloperSurvey.csv")

In [12]:

country = pd.Series(allinfo["Country"])

In [13]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [17]:
filterOnlyUSA = country == "United States"
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [18]:
education.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object