Dla oszczędności pamięci zawsze inplace=True

Z jakiegoś powodu nie można zapisać inplace obiektu bezpośrednio po sqeeze (tylko w przypadku sortowania)

**ValueError: This Series is a view of some other array, to sort in-place you must create a copy**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [2]:
salary = pd.read_csv("..\course-files\StackOverflowDeveloperSurvey.csv", usecols=["Salary"]).dropna().squeeze()

In [3]:
salary2 = salary.copy()

In [4]:
salary2.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [5]:
salary2.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [6]:
salary2.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [7]:
salary2.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [8]:
salary2.sort_values(ascending=False, inplace=True)

In [9]:
salary2.head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [12]:
salary2.sort_index(ascending=False, inplace=True)

In [13]:
salary2.head()

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
Name: Salary, dtype: float64

In [19]:
maxSalaries = salary2.sort_values(ascending=False).head(100)
minSalaries = salary2.sort_values().head(100)

In [20]:
minSalaries.mean()

67.08388907133794

In [21]:
maxSalaries.mean()

180198.1045586777