series[index] - wyrzuca element na indeksie

series[[indexy]] - wyrzuca kilka pozycji

zakresy jak w przypadku list

**komendy z zakresem odnoszą się do kolejności elementów w series natomiast podanie konkretnych indexów wyrzuca elemnty z dokładnie takim indexem niezależnie na jakim miejscu znajduje się element**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [9]:
surveys = pd.read_csv("..\course-files\StackOverflowDeveloperSurvey.csv", usecols=["CompanySize"]).squeeze()
surveys2 = surveys.copy()

In [4]:
surveys[3]

'10,000 or more employees'

In [5]:
surveys[1:11]

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
5                          NaN
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
9                          NaN
10        100 to 499 employees
Name: CompanySize, dtype: object

In [6]:
surveys[12345]

'20 to 99 employees'

In [7]:
surveys[12341:12346]

12341                         NaN
12342    1,000 to 4,999 employees
12343    10,000 or more employees
12344        100 to 499 employees
12345          20 to 99 employees
Name: CompanySize, dtype: object

In [10]:
surveys2.sort_values(inplace=True)

In [11]:
surveys2[3]

'10,000 or more employees'

In [13]:
surveys2[1:11]

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [14]:
surveys2[12345]

'20 to 99 employees'

In [16]:
surveys2[12341:12346]

14554    10,000 or more employees
9429     10,000 or more employees
6384     10,000 or more employees
1102     10,000 or more employees
14549    10,000 or more employees
Name: CompanySize, dtype: object

In [17]:
surveys2.reset_index(drop=True, inplace=True)

In [18]:
surveys2[3]

'1,000 to 4,999 employees'

In [19]:
surveys2[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [20]:
surveys2[12345]

'10,000 or more employees'

In [21]:
surveys2[12341:12346]

12341    10,000 or more employees
12342    10,000 or more employees
12343    10,000 or more employees
12344    10,000 or more employees
12345    10,000 or more employees
Name: CompanySize, dtype: object