Jeżeli wartości to int to można np. ds * 100

Przy str to np. ds.str.upper()

^^czyli +- dla metod klasowych dodać klasę

aplikacja funkcji dla kolehnych rekordów ds.apply(funkcja bez ())

**warto używać lambdy**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [4]:
surveys = pd.read_csv(r"..\course-files\StackOverflowDeveloperSurvey.csv", usecols=["Salary"]).dropna().squeeze()
surveys.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [3]:
surveys.count()

12891

In [7]:
surveysIncrease = surveys * 0.03

In [8]:
surveysAfterIncrease = surveys + surveysIncrease
surveysAfterIncrease.head()

2     117162.50
14    103000.00
17    133900.00
18     84975.00
22    103786.92
Name: Salary, dtype: float64

In [9]:
surveysTime = pd.read_csv(r"..\course-files\StackOverflowDeveloperSurvey2018.csv", usecols=["HoursOutside"], low_memory=False).dropna().squeeze()

In [10]:
surveysTime.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: HoursOutside, dtype: int64

In [13]:
surveysTime = surveysTime.str.lower()

In [14]:
surveysTime.head()

0             1 - 2 hours
1         30 - 59 minutes
3    less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [15]:
surveysTime = surveysTime.apply(lambda x: x.upper())

In [16]:
surveysTime.head()

0             1 - 2 HOURS
1         30 - 59 MINUTES
3    LESS THAN 30 MINUTES
4             1 - 2 HOURS
5         30 - 59 MINUTES
Name: HoursOutside, dtype: object

In [17]:
def halfHour(string):
    if string == "LESS THAN 30 MINUTES":
        return "LESS THAN HALF AN HOUR"
    else:
        return string

In [20]:
halfHour("bleble")

'bleble'

In [21]:
halfHour("LESS THAN 30 MINUTES")

'LESS THAN HALF AN HOUR'

In [22]:
surveysTime = surveysTime.apply(lambda x: halfHour(x))

In [23]:
surveysTime.value_counts()

1 - 2 HOURS               27788
30 - 59 MINUTES           24002
LESS THAN HALF AN HOUR    11223
3 - 4 HOURS                7186
OVER 4 HOURS               1825
Name: HoursOutside, dtype: int64