df.sort_values(by="kolumna"/[lista kolumn], na_position="last/"first", ascending=t/f lub [t/f, t/f ...], kind="‘quicksort’, ‘mergesort’, ‘heapsort’, ‘stable’")

df.sort_index(dodatkowe argumenty dla multiindex - to potem)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [4]:
fuel = pd.read_csv(r"..\course-files\fuel.csv", usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'],
                  index_col="Vehicle ID", low_memory=False)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [5]:
fuel.loc[27681, "Combined MPG (FT1)"] = np.NaN
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [7]:
fuel.sort_values(by=["Make","Model"]).head(50)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
1033,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Regular,13.0
3347,1987,ASC Incorporated,GNX,Midsize Cars,Premium,16.0
13309,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Regular,22.0
13311,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Regular,20.0
13310,1997,Acura,2.2CL/3.0CL,Subcompact Cars,Regular,24.0
14038,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Regular,22.0
14040,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Regular,20.0
14039,1998,Acura,2.3CL/3.0CL,Subcompact Cars,Regular,24.0
14834,1999,Acura,2.3CL/3.0CL,Subcompact Cars,Regular,22.0
14836,1999,Acura,2.3CL/3.0CL,Subcompact Cars,Regular,20.0
14835,1999,Acura,2.3CL/3.0CL,Subcompact Cars,Regular,24.0
11789,1995,Acura,2.5TL,Compact Cars,Premium,20.0
12673,1996,Acura,2.5TL/3.2TL,Compact Cars,Premium,20.0
12674,1996,Acura,2.5TL/3.2TL,Compact Cars,Premium,19.0
13421,1997,Acura,2.5TL/3.2TL,Compact Cars,Premium,20.0
13422,1997,Acura,2.5TL/3.2TL,Compact Cars,Premium,19.0
14163,1998,Acura,2.5TL/3.2TL,Compact Cars,Premium,20.0
14164,1998,Acura,2.5TL/3.2TL,Compact Cars,Premium,19.0
16573,2001,Acura,3.2CL,Compact Cars,Premium,20.0
17489,2002,Acura,3.2CL,Compact Cars,Premium,21.0
18459,2003,Acura,3.2CL,Compact Cars,Premium,21.0
18458,2003,Acura,3.2CL,Compact Cars,Premium,20.0
15069,1999,Acura,3.2TL,Midsize Cars,Premium,20.0
15871,2000,Acura,3.2TL,Midsize Cars,Premium,20.0
16734,2001,Acura,3.2TL,Midsize Cars,Premium,20.0
17664,2002,Acura,3.2TL,Midsize Cars,Premium,21.0
18629,2003,Acura,3.2TL,Midsize Cars,Premium,21.0
12801,1996,Acura,3.5RL,Midsize Cars,Premium,19.0
13537,1997,Acura,3.5RL,Midsize Cars,Premium,19.0
14278,1998,Acura,3.5RL,Midsize Cars,Premium,19.0
15070,1999,Acura,3.5RL,Midsize Cars,Premium,18.0
15872,2000,Acura,3.5RL,Midsize Cars,Premium,18.0
16735,2001,Acura,3.5RL,Midsize Cars,Premium,18.0
17665,2002,Acura,3.5RL,Midsize Cars,Premium,18.0
18630,2003,Acura,3.5RL,Midsize Cars,Premium,18.0
19710,2004,Acura,3.5RL,Midsize Cars,Premium,18.0
1833,1986,Acura,Integra,Subcompact Cars,Regular,24.0
1834,1986,Acura,Integra,Subcompact Cars,Regular,25.0
3037,1987,Acura,Integra,Subcompact Cars,Regular,24.0
3038,1987,Acura,Integra,Subcompact Cars,Regular,25.0
4183,1988,Acura,Integra,Subcompact Cars,Regular,24.0
4184,1988,Acura,Integra,Subcompact Cars,Regular,25.0
5303,1989,Acura,Integra,Subcompact Cars,Regular,24.0
5304,1989,Acura,Integra,Subcompact Cars,Regular,25.0
6442,1990,Acura,Integra,Subcompact Cars,Regular,22.0

In [9]:
fuel.sort_values(by="Combined MPG (FT1)", ascending=False).head(20)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0
32278,2012,Ford,Focus Electric,Compact Cars,Electricity,105.0
32276,2011,BMW,Active E,Subcompact Cars,Electricity,102.0
30979,2011,Nissan,Leaf,Midsize Cars,Electricity,99.0
30978,2008,MINI,MiniE,Minicompact Cars,Electricity,98.0
31065,2011,smart,fortwo electric drive coupe,Two Seaters,Electricity,87.0
31064,2011,smart,fortwo electric drive cabriolet,Two Seaters,Electricity,87.0
30968,1999,GMC,EV1,Two Seaters,Electricity,85.0
16423,2000,Nissan,Altra EV,Midsize Station Wagons,Electricity,85.0
18290,2002,Toyota,RAV4 EV,Sport Utility Vehicle - 2WD,Electricity,78.0
19296,2003,Toyota,RAV4 EV,Sport Utility Vehicle - 2WD,Electricity,78.0
17331,2001,Nissan,Hyper-Mini,Two Seaters,Electricity,75.0
32277,2012,CODA Automotive,CODA,Subcompact Cars,Electricity,73.0
16424,2000,Toyota,RAV4 EV,Sport Utility Vehicle - 2WD,Electricity,72.0
17328,2001,Toyota,RAV4 EV,Sport Utility Vehicle - 2WD,Electricity,72.0
17329,2001,Ford,Th!nk,Two Seaters,Electricity,65.0
31893,2012,Azure Dynamics,Transit Connect Electric Van,Special Purpose Vehicle 2WD,Electricity,62.0
33383,2012,BYD,e6,Sport Utility Vehicle - 2WD,Electricity,62.0
31894,2012,Azure Dynamics,Transit Connect Electric Wagon,Special Purpose Vehicle 2WD,Electricity,62.0
30966,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0

In [10]:
fuel.sort_values(by=["Make", "Combined MPG (FT1)"], ascending=[True, False]).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

In [12]:
fuel.sort_values("Combined MPG (FT1)", na_position="first").head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0

In [13]:
fuel.sort_values("Combined MPG (FT1)", na_position="first", inplace=True)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0

In [15]:
fuel.sort_values("Vehicle ID").head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
1,1985,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
2,1985,Bertone,X1/9,Two Seaters,Regular,22.0
3,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
4,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
5,1985,Nissan,300ZX,Two Seaters,Regular,16.0