df.dtypes - series z typami dla danych kolumn

df.info(memory_usage="deep" - dokładne dane o  zajętej pamięci) - wszystkie dane

**Kolumna z NaN nie może być intem**

ds.astype("typ np. int")

*Niestety trzeba przepisać do konkretnej kolumny*

**typ category - dla powtarzających się stringow - dla kategorii :D**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [2]:
fuel = pd.read_csv(r"..\course-files\fuel.csv", usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'],
                  low_memory=False)

In [4]:
fuel.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.9 MB

In [12]:
fuel.Year = fuel.Year.astype("int16")

In [13]:
cfuel.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int16
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int16(1), int64(1), object(4)
memory usage: 8.7 MB

In [16]:
fuel.Make.value_counts()

Make
Chevrolet                 3389
Ford                      2721
Dodge                     2361
GMC                       2174
Toyota                    1599
                          ...
General Motors               1
Panoz Auto-Development       1
Goldacre                     1
Panos                        1
Mitsubish                    1
Name: count, Length: 128, dtype: int64

In [17]:
fuel.Make = fuel.Make.astype("category")

In [18]:
fuel.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int16
 2   Make                31684 non-null  category
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int16(1), int64(1), object(3)
memory usage: 6.9 MB

In [19]:
fuel.Model.value_counts()

Model
F150 Pickup 2WD                 194
Truck 2WD                       187
F150 Pickup 4WD                 172
Ranger Pickup 2WD               169
Mustang                         156
                               ...
Silver Spur II Mpw Touring L      1
Brooklands/Brklnds L              1
Vdp                               1
Pas-Typhoon                       1
Lancer AWD                        1
Name: count, Length: 2957, dtype: int64

In [20]:
fuel.Class.value_counts()

Class
Compact Cars                    4489
Subcompact Cars                 4299
Midsize Cars                    3393
Standard Pickup Trucks          2354
Sport Utility Vehicle - 4WD     2034
Sport Utility Vehicle - 2WD     1598
Special Purpose Vehicles        1455
Two Seaters                     1448
Large Cars                      1351
Small Station Wagons            1275
Vans                            1141
Standard Pickup Trucks 2WD      1043
Minicompact Cars                 941
Standard Pickup Trucks 4WD       846
Midsize-Large Station Wagons     656
Small Pickup Trucks              538
Special Purpose Vehicle 2WD      536
Midsize Station Wagons           492
Vans, Cargo Type                 397
Small Pickup Trucks 2WD          365
Special Purpose Vehicle 4WD      287
Minivan - 2WD                    278
Vans, Passenger Type             253
Small Pickup Trucks 4WD          162
Minivan - 4WD                     41
Standard Pickup Trucks/2wd         4
Vans Passenger                     2
Special Purpose Vehicles/4wd       2
Special Purpose Vehicles/2wd       2
Special Purpose Vehicle            1
Name: count, dtype: int64

In [22]:
fuel["Fuel Type"].value_counts()

Fuel Type
Regular                       22439
Premium                        7375
Diesel                          936
Gasoline or E85                 767
CNG                              55
Electricity                      33
Premium or E85                   33
Gasoline or natural gas          18
Midgrade                         16
Gasoline or propane               8
Premium Gas or Electricity        3
Name: count, dtype: int64

In [23]:
fuel.Model = fuel.Model.astype("category")

In [24]:
fuel.Class = fuel.Class.astype("category")

In [25]:
fuel["Fuel Type"] = fuel["Fuel Type"].astype("category")

In [26]:
fuel.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int16
 2   Make                31684 non-null  category
 3   Model               31683 non-null  category
 4   Class               31683 non-null  category
 5   Fuel Type           31683 non-null  category
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int16(1), int64(1)
memory usage: 1.0 MB