ds.is_unique - atrybut serii - zwraca informacje True/False czy seria jest unikalna

ds.unique() - zwraca array unikalnych wartości

ds.nuniqiue() - zwraca ilość unikalnych wartości

ds.duplicated(keep='first'/'last'/False) -  filtracja duplikatów, usuwa także wartości nieduplikujące się

df.drop_duplicates(subset=[kolumny], keep=)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [2]:
surveys = pd.read_csv(r"..\course-files\StackOverflowDeveloperSurvey2018.csv", usecols=['Country','Gender','OperatingSystem'],
                     low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [3]:
surveys.Country.is_unique

False

In [11]:
surveys.drop_duplicates(subset=['Country']).head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [14]:
surveys.Country.unique()[:20]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

In [15]:
surveys.Country.nunique(dropna=True)

183

In [16]:
surveys.Country.nunique(dropna=False)

184

In [18]:
duplicatesKeepFirst = surveys.Country.duplicated(keep="first")

In [23]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [22]:
len(surveys[~duplicatesKeepFirst])

184

In [25]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem']).head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [38]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem']).where(surveys.Country == 'Poland').dropna(how="all")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN